include header

html
    head
        meta(property='og:title'       content='FORMAL/1')
        meta(property='og:description' content='Formal One')
        meta(property='og:url'         content='https://groupoid.github.io/formal.one/')

block title
    title AXIO/1

block content
    +header('', 'AXIO/1', 'Формальне середовище виконання, система вищих мов та базові бібліотеки для програмування, доведення теорем і формальної філософії')
    article.main
        .om
            section
                h1 Анотація

            aside <a href="https://tonpa.guru">Максим Сохацький</a>
                time 9 SEP 2021
            p.
                Перша формальна система AXIO/1 визначає формальний підхід до математичної
                верифікації та описує спробу автора у цій парадигмі побудувати
                замкнену уніфіковану систему формальних мов для програмування,
                математики та філософії. В процесі розробки моделі такої
                системи автору довелося апробувати частини її імплементації
                для головних SML-подібних формальних академічних мов, мови
                Erlang та інших (загалом 7 мов). За 10 років автором було
                проаналізовані синтаксис та семантика основних мов програмування
                (більше 50 мов) з різних промислових та академічних доменів,
                8 мов з яких були особисто реалізовані автором. В роботі описані
                8 мов уніфікованої мовної системи (концептуальна модель)
                та представлені 2 їх імплементації.
            p.
                Головним чином, натхнення було почерпнуте з LISP-машин
                минулого, APL-систем, перших систем доведення теорем таких
                як AUTOMATH, віртуальних маших паралельної та узгодженої
                обробки нескінченних процесів, таких як BEAM, та кубічних MLTT-пруверів.

            section
                h1 СТРУКТУРА
            p.
                Суть роботи полягає в побудові унікальної замкненої си-
                стеми яка складається з:
                1) системного програмного забезпечення – модального середовища виконання разом з інтерпретатором написаним на формальній мові;
                2) бібліотек – для прикладного програмування середовищ виконання;
                3) прикладного програмного забезпечення — системи вищих формальних мов, для яких надано моделі і імплементації;
                4) математичної бібліотеки — механізованих теорем.

        h2 Середовище виконання
        .index
            .index__col
                h2 Ядро
                ul
                    li: a(href='https://groupoid.space/runtime/cps/') Інтерпретатор
                    li: a(href='https://groupoid.space/runtime/apl/') Тензори
                    li: a(href='https://groupoid.space/runtime/intercore/') Планувальник
                    li: a(href='https://anders.groupoid.space/foundations/modal/process/') Процеси
            .index__col
                h2 Бібліотека
                ul
                    li: a(href='https://groupoid.space/runtime/effects/') Протоколи
                    li: a(href='https://anders.groupoid.space/foundations/mltt/io/') IO
                    li: a(href='https://anders.groupoid.space/foundations/mltt/ioi/') IOI

        h2 Вищі мови програмування
        .index
            .index__col
                h2 Ядро PTS/PTS/MLTT
                ul
                    li: a(href='https://henk.groupoid.space') Чисте-ядро
                    li: a(href='https://groupoid.space/misc/semantics/') Фібраційне-ядро
            .index__col
                h2 HTS/CCHM і Бібліотека
                ul
                    li: a(href='https://anders.groupoid.space/') Гомотопічне ядро
                    li: a(href='https://groupoid.space/misc/library/') Математичні компоненти
                    li: a(href='https://groupoid.space/misc/course/') Курс по теорії типів
                    li: a(href='https://anders.groupoid.space/mathematics/homotopy/hopf/') Розшарування хопфа

        h2 Формалізація математики
        .index
            .index__col
                h2 <b>ANALYSIS</b>
                ul
                    li: <a href='https://anders.groupoid.space/mathematics/analysis/topology/'>TOPOLOGY</a>
                    li: <a href='https://anders.groupoid.space/mathematics/analysis/set/'>SET</a>
                    li: <a href='https://anders.groupoid.space/mathematics/analysis/rational/'>ℚ</a>, <a href='https://anders.groupoid.space/mathematics/analysis/real/'>ℝ</a>, <a href='https://anders.groupoid.space/mathematics/analysis/complex/'>ℂ</a>, <a href='https://anders.groupoid.space/mathematics/analysis/quatro/'>ℍ</a>, <a href='https://anders.groupoid.space/mathematics/analysis/octo/'>𝕆</a>
            .index__col
                h2 <b>ALGEBRA</b>
                ul
                    li: a(href='https://anders.groupoid.space/mathematics/algebra/group/') GROUP
                    li: a(href='https://anders.groupoid.space/mathematics/algebra/algebra/') ALGEBRA
                    li: a(href='https://anders.groupoid.space/mathematics/algebra/homology/') HOMOLOGY
            .index__col
                h2 <b>GEOMETRY</b>
                ul
                    li: a(href='https://anders.groupoid.space/mathematics/geometry/etale/') ETALE
                    li: a(href='https://anders.groupoid.space/mathematics/geometry/bundle/') BUNDLE
                    li: a(href='https://anders.groupoid.space/mathematics/geometry/manifold/') MANIFOLD
                    li: a(href='https://anders.groupoid.space/mathematics/geometry/derham/') DE RHAM

            .index__col
                h2 <b>HOMOTOPY</b>
                ul
                    li: a(href='https://anders.groupoid.space/mathematics/homotopy/coequalizer/') COEQUALIZER
                    li: a(href='https://anders.groupoid.space/mathematics/homotopy/pushout/') PUSHOUT
                    li: a(href='https://anders.groupoid.space/mathematics/homotopy/pullback/') PULLBACK
                    li: a(href='https://anders.groupoid.space/mathematics/homotopy/hopf/') HOPF
                    li: a(href='https://anders.groupoid.space/mathematics/homotopy/cw/') CW

            .index__col
                h2 <b>CATEGORIES</b>
                ul
                    li: a(href='https://anders.groupoid.space/mathematics/categories/category/') CATEGORY
                    li: a(href='https://anders.groupoid.space/mathematics/categories/functor/') FUNCTOR
                    li: a(href='https://anders.groupoid.space/mathematics/categories/groupoid/') GROUPOID
                    li: a(href='https://anders.groupoid.space/mathematics/categories/topos/') TOPOS
                    li: a(href='https://anders.groupoid.space/mathematics/categories/presheaf/') PRESHEAF

        .om
            section
                h1 Середовище виконання
            p.
                Синтансичне дерево мови інтерпретатора містить модуль лінивих
                відкладених обчислень (CPS), та розширення синтаксичного
                дерева спеціальними командами пов’язаними з середовищем
                виконання (управління процесами виконання).
                Програми таких інтерпретаторів виконуються у певній пам’яті,
                яка використовується як контекст виконання. Кожна така програма
                виконується як атомарний поток інструкцій на одному ядрі фізичного процесора.
                Ситема віртуальних процесів містить SMP/AMP планувальник, який
                управлє CPS-програмами які виконують інтерпретатори на кожному з фізичних ядер процесора.
            p.
                Мотивація для побудови інтерпретатору, який повністю розміщується
                разом з программою в L1 кеші (який лімітований 64КБ-256КБ) базується
                на успіху таких віртуальних машин як LuaJIT, V8, HotSpot,
                а також векторних мов програмування типу К та J. Якби ми могли
                побудувати дійсно швидкий інтерпретатор який би виконував програми цілком в L1 кеші, байткод та
                стріми якого були би вирівняні по словам архітектури, а для векторних
                обчислень застосовувалися би AVX інструкції, які, як відомо
                перемагають по ціні-якості GPU обчислення, то такий інтерпретатор міг би,
                навіть без спеціалізованої JIT компіляції, скласти конкуренцію
                сучасним промисловим інтерпретаторам, таким як Erlang, Python, K, LuaJIT.
                Для дослідження цієї гіпотези мною було побудовано експериментальний
                інтерпретатор без байт-коду, але з вирівняним по словам архітерктури
                стрімом команд, які є безпосередньою машинною презентацією конструкторів індуктивних типів (enum)
                мови Rust.
            p.
                Ключовим викликом тут стали лінійні типи мови Rust, які не
                дозволяють звертатися до посилань, які вже були оброблені, а це
                впливає на всю архітектуру тензорного преставлення змінних в
                мові інтерпретатор CPS, яка наслідує певним чином мову К.

            section
                h1 Вищі мови програмування
            p.
                Тут йдеться про мови програмування придатні для доведення
                теорем, та їх таксономію від найелементарніших (чистої системи
                з одним типом Π) до найпотужніших гомотопічних систем. Одна
                така гомотопічна система є кінцевим завданням цього розділу
                — побудова моделі гомотопічного верифікатора. В процесі його
                побудови в цьому розділі ми розглянемо під мікроскопом складові частини його нижчих мовних рівнів.
                Застосуємо категорну семантику для мов програмування і будемо розглядати мови програмування як моноїдальні
                мовні категорі, об’єкти яких є просторами усіх програм цих мов програмування,
                а морфізми — правила верифікації та компіляції цих програм.
                Мови розкладаються у спектральну (індексовану натуральними числами N → U)
                послідовність мов, кожен елемент якої є мовою програмування,
                яка не містить синтаксичне дерево вищої мови програмування.
                Система базується на передових мовних фреймворках:
            p.
                1) Теорія типів Генка Барендрегта для чистого залежного лямбда-числення;
                2) Теорія типів Пера Мартіна-Льофа для фібріційного контексту та індуктивних типів;
                3) Теорія типів Андерса Мьортберга для початкового завантаження CCHM/CHM/HTS;
                4) Симпліціальна гомотопічна теорія типів Дана Кана;
                5) Теорія типів Джека Морави для хроматичної гомотопічної теорії та K-теорії;
                6) Теорія типів Урса Шрайбера для еквіваріантної супeргеометрії;
                7) Теорія типів Фаб’єна Мореля для A¹-гомотопічної теорії;
                8) Теорія типів Лорана Шварца для функціонального аналізу та теорії розподілів;
                9) Теорія типів Ернста Цермело для ZFC з законом виключеного третього;
                10) Теорія типів Пола Коена для системи кардиналів, що включає великі кардинали та форсинг.

            +tex.
                $\mathbf{Henk}$ — чиста система з всвесвітами.
            +tex.
                $\mathbf{Christine}$ — індуктивна система Поулін-Моурін.
            +tex.
                $\mathbf{Anders}$ — гомотопічна система з двома рівностями.
            +tex.
                $\mathbf{Laurent}$ — система типів функціонального аналізу.
            +tex.
                $\mathbf{Urs}$ — еквіваріантна система типів супергеометрії.


            section
                h1 Формалізація математики
            p.
                Головне завдання лабораторії &mdash; це розробка і підтримка системи доведення теорем
                для механічної верифікації всіх існуючих теорем у математиці, від класичного аналізу до сучасної теорії
                множин і теорій гомотопій.
            p.
                Ця система синтезує уніфіковану синтетичну гомотопію, стабільні гомотопічні спектри,
                когезивну геометрію, дійсний аналіз і основи теорії множин у єдиному, обчислювально
                перевірюваному формалізмі. Ми демонструємо її потужність через ключові теореми:

            p.
                1) Теорія чисел: Теорема про прості числа;
                2) Фундаментальна теорема числення (аналіз);
                3) Аналіз: Теорема про доміновану збіжність Лебезга;
                4) Топологія: Гіпотеза Пуанкаре (3D);
                5) Алгебра: Класифікація скінченних простих груп;
                6) Теорія множин: Незалежність гіпотези континууму (CH);
                7) Теорія категорій: Теорема про спряжені функтори;
                8) Гомотопічна теорія: Кон’єктура Адамса (через K-теорію);
                9) Консистентність ZFC з великими кардиналами;
                10) Остання теорема Ферма;
                11) Теорема про великі кардинали: Максимум Мартіна.
            p.
                Це не вичерпне, але оглядове бачення її здатності охоплювати алгебраїчні,
                аналітичні, топологічні та фундаментальні домени. AXIO/1 є кандидатом на
                універсальну механізовану математичну платформу, що конкурує з такими системами,
                як кубічна теорія типів, розширюючи їхній обсяг.

            p.
                Система AXIO/1 досягає визначного синтезу, об’єднуючи синтетичну та класичну математики
                в механічно перевірюваній структурі. Її категорні моделі типів — від симпліціальних
                ∞-категорій, стабільних спектрів, когезивних модальностей, дійсних чисел, ZFC, великих
                кардиналів до форсингу — охоплюють усі відомі математичні домени станом на 2025 рік,
                а спектральна категорія мов дозволяє працювати в усіх внутрішніх мовах усіх категорій.

            br
            br

        .om
            section
                h1 Публікації

                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="https://axiosis.github.io/books/axio/axio.pdf") &nbsp; AXIO.PDF
                    |  Курс Формальної Математики

                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="https://groupoid.github.io/henk/doc/henk.pdf") &nbsp; HENK.PDF
                    |  Хенк Барендрегт

                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="https://groupoid.github.io/anders/doc/anders.pdf") &nbsp; ANDERS.PDF
                    |  Андерс Мортберг

                div(style="padding-top: 8px;")
                    img(src="https://anders.groupoid.space/images/pdf.jpg", width="35")
                    a(href="https://groupoid.github.io/laurent/doc/laurent.pdf") &nbsp; LAURENT.PDF
                    |  Лоран Шварц

include footer
